@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Fredericka+the+Great&family=Playwrite+DE+Grund:wght@100..400&display=swap');

header{
    background-color: #004e89;
    display: grid;
    grid-template-columns: 150px auto;
}

footer{
    background-color: #004e89;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    color: #00aaff;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    padding: 15px;
    border-radius: 50px;
}

body{
    background-color: #f8e9e3;
    font-family: "Elsie Swash Caps", Helvetica, sans-serif;
    margin: 0;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo{
    width: 80px;
    border-radius: 50px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #f8e9e3;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #00aaff;
    color: #f8e9e3;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 60px;
    padding: 30px;
}

h2{
    font-family: "Fredericka the Great", serif;
    font-size: 2.5em;
    color: #004e89;
    text-align: center;
}

main p{
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: #4a4a4a;
}

main img{
    width: 690px;
    height: 490px;
    border: 10px solid #00aaff;
    transition: transform .5s;
}

main img:hover{
    opacity: .6;
    transform: scale(1.1);
}


h1 {
    text-align: center;
    font-family: "Fredericka the Great", serif;
    color: #4a4a4a;
}