@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Fredericka+the+Great&family=Playwrite+DE+Grund:wght@100..400&display=swap');



.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 60px;
    padding: 30px;
}

h2{
    font-family: "Fredericka the Great", serif;
    font-size: 2.5em;
    color: #223570;
    text-align: center;
}

main p{
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: #4a4a4a;
}

main img{
    width: 690px;
    height: 490px;
    border: 10px solid #F4B400;
    border-radius: 15px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

main img:hover{
    opacity: .6;
    transform: scale(1.1);
}


h1 {
    text-align: center;
    font-family: "Fredericka the Great", serif;
    color: #4a4a4a;
}



/* same for all pages */

#content{
    margin: 0 auto;
    max-width: 1600px;
}

.contact{
    background-color: #F4B400;
    color: #223570;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    align-content: center;
}

.contact:hover{
    background-color: #2F70A1 ;
    color: #223570;
}

header{
    background-color: #223570;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    font-size: 25px;
}

footer{
    background-color: #223570;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    color: #F4B400;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    padding: 15px;
    border-radius: 50px;
    width: 50px;
    display: inline;
}

body{
    background-color: #F9FAFB;
    font-family: "Elsie Swash Caps", Helvetica, sans-serif;
    margin: 0;
}

.logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo{
    width: 100px;
    border-radius: 100px;
    padding: 20px
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #f8e9e3;
    text-decoration: none;
    width: 120px;
    padding: 25px;
}

nav a:hover{
    background-color: #F4B400;
    color: #223570;
}

